.dark :root {
  --fontColor: #ffffff;
}

.dark input[type="time"]::-webkit-calendar-picker-indicator {
  filter: invert(100%);
}

.dark .ql-toolbar {
  border: none !important;
  color: white !important;
}

.dark .ql-toolbar .ql-stroke {
  fill: none;
  stroke: #ffffff !important;
  background-color: #ffffff !important;
}

.dark .ql-placeholder {
  color: #ffffff !important;
}

.dark .ql-editor.ql-blank::before {
  color: #ffffff !important;
}
.dark .ql-editor {
  font-family: "PT Sans" !important;
}

.dark .ql-toolbar .ql-fill {
  fill: #ffffff !important;
  stroke: none;
  background-color: #ffffff !important;
}

.dark .ql-container {
  border: none !important;
}
