.light :root {
  --fontColor: #000000;
}

.light input[type="time"]::-webkit-calendar-picker-indicator {
  filter: invert(0%);
}

.light .ql-toolbar {
  border: none !important;
  color: white !important;
}

.light .ql-header {
  fill: none;
  stroke: var(--fontColor) !important;
  background-color: var(--fontColor) !important;
  border: none !important;
  color: white !important;
}

.light .ql-toolbar .ql-stroke {
  fill: none;
  stroke: var(--fontColor) !important;
  background-color: var(--fontColor) !important;
}

.light .ql-placeholder {
  color: var(--fontColor) !important;
}

.light .ql-editor.ql-blank::before {
  color: var(--fontColor) !important;
}
.light .ql-editor {
  font-family: "PT Sans" !important;
}

.light .ql-toolbar .ql-fill {
  fill: var(--fontColor) !important;
  stroke: none;
  background-color: var(--fontColor) !important;
}

.light .ql-container {
  border: none !important;
}
